@import url('https://fonts.cdnfonts.com/css/seven-segment');

/* To be removed later */
.debug-border {
    border: 1px solid black;
}

/* Change this later */
#storage-display {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100px;
}

/* Utility Class */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-one {
    flex: 1;
}

.border-box {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.inner {
    position:absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    text-align:right;
}

/* Generic element CSS */

body {
    padding: 0;
    margin: 0;
    font-family: 'Seven Segment', sans-serif;
    height: 100vh;
}

button {
    flex: 1;
    aspect-ratio: 1;
    font-family: monospace, serif;
}

/* Main container CSS */
#calculator {
    min-width: 300px; 
    max-width: 600px;
    height: auto;
    
    flex: auto;
}

/* Calculator brand container CSS */
#calc-brand {
    height: 24px;
}

#calc-solarpanel {
    width: 100px;
    height: 100%;
    display: flex;
}

.panel-grid {
    height: 100%;
    border: 1px solid rgb(233, 227, 227);
    background-color: rgb(37, 30, 26);

    flex: 1;
}

/* Calculator screen container CSS */
#calc-screen {
    height: 100px;
    width: 100%;
    
}

.screen-digit {
    flex: 1;

    position: relative;
    height: 100%;
    font-size: 90px;
    font-weight: bold;
}

.placeholder-digit {
    color: rgb(238, 234, 234);
}

.digit {
    color: black;
}

/* To be enabled when body is flex-centered */

/* .actual-digit.sign {
    right: 4px;
} */

/* Calculator pad container CSS */

#calc-num-pad {
    flex: 3;
}

#calc-operator-pad {
    flex: 2;
}

.num-pad-row {
    display: flex;
}

button#equal {
    aspect-ratio: 1/2;
}